Data Loading & Cleaning

In [17]:
import numpy as np
import pandas as pd
import datetime

In [2]:
users = pd.read_csv(r"/Users/tugrulcicekci/Desktop/Portföy Projeleri/5.SaaS/Project-5 Datasets NEW/users_new.csv")
events = pd.read_csv(r"/Users/tugrulcicekci/Desktop/Portföy Projeleri/5.SaaS/Project-5 Datasets NEW/events_new.csv")

In [6]:
users.columns.strip()
users.dropna(subset=["user_id", "registration_date", "initial_plan_type",	
                    "trial_start_date",	"trial_end_date",	"first_paid_date",
                    "current_plan_type",	"churn_date",	"industry",	
                    "company_size",	"acquisition_channel"], inplace=True)
users.head()

,user_id,registration_date,initial_plan_type,trial_start_date,trial_end_date,first_paid_date,current_plan_type,churn_date,industry,company_size,acquisition_channel
0,1,2024-06-09,Trial,2024-06-09,2024-06-23,2051-10-25,Churned,2024-07-18,Tech,1-10,Organic
1,2,2025-04-22,Trial,2025-04-22,2025-05-06,2052-09-06,Churned,2025-06-17,Tech,500+,Referral
2,3,2024-03-26,Trial,2024-03-26,2024-04-09,2051-08-11,Cancelled,2024-05-13,Healthcare,201-500,Paid Ads
3,4,2025-05-14,Trial,2025-05-14,2025-05-28,2052-09-28,Cancelled,2025-06-07,Healthcare,1-10,Partner
4,5,2024-09-28,Free,2024-09-28,2024-10-12,2025-04-03,Cancelled,2025-03-12,Education,11-50,Referral

In [10]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              500 non-null    int64
 1   registration_date    500 non-null    object
 2   initial_plan_type    500 non-null    object
 3   trial_start_date     500 non-null    object
 4   trial_end_date       500 non-null    object
 5   first_paid_date      500 non-null    object
 6   current_plan_type    500 non-null    object
 7   churn_date           500 non-null    object
 8   industry             500 non-null    object
 9   company_size         500 non-null    object
 10  acquisition_channel  500 non-null    object
dtypes: int64(1), object(10)
memory usage: 43.1+ KB

In [9]:
events.columns.strip()
events.dropna(subset=["event_id", "user_id", "timestamp",
                       "event_name", "session_id"], inplace=True)
events.head()

,event_id,user_id,timestamp,event_name,session_id
0,1,359,2025-04-12 03:59:07,export_clicked,f3496cfe-6ec7-4339-9ad5-0025061f9d56
1,2,403,2025-02-18 02:27:57,dashboard_view,87d3d1f4-3a86-46e9-8dc4-219c3a0e6c7f
2,3,311,2024-12-23 02:37:13,dashboard_view,a1f68fd0-318c-459b-b414-b019ea010b2e
3,4,498,2024-05-14 16:24:22,login,e72d9368-a723-48a8-b44b-07c5f55525b2
4,5,37,2025-11-02 15:00:02,login,07642b48-7e0f-4964-9c87-78565c69bcc5

In [13]:
events["timestamp"] = pd.to_datetime(events["timestamp"]).dt.date
events.head()

,event_id,user_id,timestamp,event_name,session_id
0,1,359,2025-04-12,export_clicked,f3496cfe-6ec7-4339-9ad5-0025061f9d56
1,2,403,2025-02-18,dashboard_view,87d3d1f4-3a86-46e9-8dc4-219c3a0e6c7f
2,3,311,2024-12-23,dashboard_view,a1f68fd0-318c-459b-b414-b019ea010b2e
3,4,498,2024-05-14,login,e72d9368-a723-48a8-b44b-07c5f55525b2
4,5,37,2025-11-02,login,07642b48-7e0f-4964-9c87-78565c69bcc5

In [11]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   event_id    5000 non-null   int64
 1   user_id     5000 non-null   int64
 2   timestamp   5000 non-null   object
 3   event_name  5000 non-null   object
 4   session_id  5000 non-null   object
dtypes: int64(2), object(3)
memory usage: 195.4+ KB

Data Preperation

In [15]:
#Calculating days active by using groupby
days_active = events.groupby("user_id")["timestamp"].nunique()
users["days_active"] = users["user_id"].map(days_active)
users.head()

,user_id,registration_date,initial_plan_type,trial_start_date,trial_end_date,first_paid_date,current_plan_type,churn_date,industry,company_size,acquisition_channel,days_active
0,1,2024-06-09,Trial,2024-06-09,2024-06-23,2051-10-25,Churned,2024-07-18,Tech,1-10,Organic,6
1,2,2025-04-22,Trial,2025-04-22,2025-05-06,2052-09-06,Churned,2025-06-17,Tech,500+,Referral,14
2,3,2024-03-26,Trial,2024-03-26,2024-04-09,2051-08-11,Cancelled,2024-05-13,Healthcare,201-500,Paid Ads,11
3,4,2025-05-14,Trial,2025-05-14,2025-05-28,2052-09-28,Cancelled,2025-06-07,Healthcare,1-10,Partner,10
4,5,2024-09-28,Free,2024-09-28,2024-10-12,2025-04-03,Cancelled,2025-03-12,Education,11-50,Referral,7

In [20]:
events["timestamp"] = pd.to_datetime(events["timestamp"])
events["week_of_year"] = events["timestamp"].dt.isocalendar().week
events["month_of_year"] = events["timestamp"].dt.month
events.head()

,event_id,user_id,timestamp,event_name,session_id,week_of_year,month_of_year
0,1,359,2025-04-12,export_clicked,f3496cfe-6ec7-4339-9ad5-0025061f9d56,15,4
1,2,403,2025-02-18,dashboard_view,87d3d1f4-3a86-46e9-8dc4-219c3a0e6c7f,8,2
2,3,311,2024-12-23,dashboard_view,a1f68fd0-318c-459b-b414-b019ea010b2e,52,12
3,4,498,2024-05-14,login,e72d9368-a723-48a8-b44b-07c5f55525b2,20,5
4,5,37,2025-11-02,login,07642b48-7e0f-4964-9c87-78565c69bcc5,44,11

In [23]:
first_active = events.groupby("user_id")["timestamp"].min().reset_index()
first_active["first_active_week"] = first_active["timestamp"].dt.isocalendar().week
first_active["first_active_month"] = first_active["timestamp"].dt.month
users = users.merge(first_active,
                    on="user_id",
                    how="left")
users.head()

,user_id,registration_date,initial_plan_type,trial_start_date,trial_end_date,first_paid_date,current_plan_type,churn_date,industry,company_size,acquisition_channel,days_active,timestamp,first_active_week,first_active_month
0,1,2024-06-09,Trial,2024-06-09,2024-06-23,2051-10-25,Churned,2024-07-18,Tech,1-10,Organic,6,2024-06-16,24,6
1,2,2025-04-22,Trial,2025-04-22,2025-05-06,2052-09-06,Churned,2025-06-17,Tech,500+,Referral,14,2025-05-03,18,5
2,3,2024-03-26,Trial,2024-03-26,2024-04-09,2051-08-11,Cancelled,2024-05-13,Healthcare,201-500,Paid Ads,11,2024-03-26,13,3
3,4,2025-05-14,Trial,2025-05-14,2025-05-28,2052-09-28,Cancelled,2025-06-07,Healthcare,1-10,Partner,10,2025-05-16,20,5
4,5,2024-09-28,Free,2024-09-28,2024-10-12,2025-04-03,Cancelled,2025-03-12,Education,11-50,Referral,7,2024-10-20,42,10

In [24]:
users.drop(columns="timestamp", inplace=True)
users.head()

,user_id,registration_date,initial_plan_type,trial_start_date,trial_end_date,first_paid_date,current_plan_type,churn_date,industry,company_size,acquisition_channel,days_active,first_active_week,first_active_month
0,1,2024-06-09,Trial,2024-06-09,2024-06-23,2051-10-25,Churned,2024-07-18,Tech,1-10,Organic,6,24,6
1,2,2025-04-22,Trial,2025-04-22,2025-05-06,2052-09-06,Churned,2025-06-17,Tech,500+,Referral,14,18,5
2,3,2024-03-26,Trial,2024-03-26,2024-04-09,2051-08-11,Cancelled,2024-05-13,Healthcare,201-500,Paid Ads,11,13,3
3,4,2025-05-14,Trial,2025-05-14,2025-05-28,2052-09-28,Cancelled,2025-06-07,Healthcare,1-10,Partner,10,20,5
4,5,2024-09-28,Free,2024-09-28,2024-10-12,2025-04-03,Cancelled,2025-03-12,Education,11-50,Referral,7,42,10

In [25]:
users.to_csv("cleaned_users.csv")
events.to_csv("cleaned_events.csv")